body {
    margin: 0;
    padding: 10%;
    max-width: 680px;
}

#top-section{
    display: block;
    z-index: 2;
}

#main-title {
    position: relative;
    padding: -10%;
}

#logo {
    image-rendering: pixelated;
    width: 100px;
    height: auto;
    position: relative;
    left: 400px;
    top: 1vh;
    z-index: 1;
    display: block;
}

#map {
    position: relative;
    border: 1px solid black;
    height: 50vh;
    width: 75%;
    padding: 10vh;
    top: 2vh;
}

#results-section {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

#selected-area {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}